// VARIABLES

$highlight-color:white;
$light-color: #fefbe9;
$dark-color: #313d53;
$hr-width: 80px;
$footer-height:$leading*5;
$monospace:'PT Mono', monospace;

/*********************************/

// UTILITY

.hidden{
  display:none;
}

.right{
  float:right;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

/*********************************/

*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; /* 2 */
  box-sizing: border-box;
}

html, body{
  background-color:$light-color;
  color:$dark-color;
  height:100%;
}

main{
  margin-top:2*$leading;

  // Sticky footer support
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: $footer-height; 
  &:after {
    content: "";
    display: block;
  }
    
}

article{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // margin-right:$hr-width;
  margin-right:0;
  margin-bottom:3rem;

  header{
    margin-bottom:$leading;
    h1{
      font-size: 1rem;
      font-weight: 700;
      line-height:1.25rem;
      margin-bottom:0;
    }
    .byline{
      font-size:0.75rem;
      font-family:$monospace;
    }
    address{
      font-style:normal;
    }
  }
}

article p, footer p{
  // font-size:0.75rem;
  // line-height:1.25rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
}

footer{

  padding-top:1rem;
  height: $footer-height; 
  hr{
    margin-top:0;
  }
  .nav a:hover{
    color:$dark-color;
    background-color:white;
  }
}

.columns{
  -webkit-columns: 300px 2;
  -moz-columns: 300px 2;
  columns: 300px 2;
}

.column{
  width:50%;
}

header{
  h1.logotype{
    // margin-right:$hr-width;
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
  }
}


h2{
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 3rem;
  font-weight: 200;
  margin-right: 33%;
  &.mission{
    text-align: center;
    margin: 0 auto 4rem auto;
    max-width: 800px;
  }
}


hr{
  margin-top:0;
  // margin-top:-$leading;
  border:none;
  background-color:$dark-color;
  width:$hr-width;
  position:absolute;
  right:0;
  &.thin{
    height:3px;
  }
  &.thick{
    height:10px;
  }
}

a{
  text-decoration:none;
  &:hover{
    text-decoration:line-through;
    color:$dark-color;
    cursor:pointer;
  }
}

p a{
  border-bottom:1px dotted $dark-color;
  &:hover{
    border-bottom:none;
  }
}

.dark-color p a{
  border-bottom-color:$light-color;
  &:hover{
    color:white;
  }
}

sup{
  top:-0.25em;
}

//////////////////////////////////

.list-unstyled{
  list-style-type:none;
  margin-left:0;
  padding-left:0;
}

.list-inline li{
  display:inline-block;
  margin-left:0;
  padding-left:0;
  margin-right:1rem;
  // border-top:3px solid $light-color;
}

.dark-color{
  background-color:$dark-color;
  color:$light-color;

  a{
    color: $light-color;
  }

  hr{
    background-color:$light-color;
  }
}

.container{
  max-width:80%;
  min-width:300px;
  margin-left:auto;
  margin-right:auto;
}

.issue-number{
  margin-top:-$leading;
  text-align:center;
  display:block;
  background-color:$dark-color;
  color:$light-color;
  padding:0.05em 0.3em 0.1em;
  font-weight:700;
  text-transform:uppercase;
  position:absolute;
  right:0;
  width:$hr-width;
  height:34px;

  var{
    font-family:$monospace;
    font-style: initial;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
  }

  &.navicable{
    &:hover{

      background-color:transparent;
      font-weight:400;
      &:before{
        content: "";
        border-right: 17px solid #313d53;
        display: block;
        position: absolute;
        left: 0;
        top:0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
      }
      &:after {
        content: "×";
        display: block;
        position: absolute;
        background-color: #313d53;
        width: 79%;
        height: 100%;
        right: 0;
        top: 0;
        box-sizing: border-box;
        font-size: 2rem;
        line-height: 1.4rem;
      }
      .unit{
        display:none;
      }
    }
    a{
      display:block;
      width:100%;
      height:100%;
      z-index:1;
      left:0.05em;
      position:absolute;
    }
  }
}


.strike{
  // background-image:url('/images/strike.gif');
  background-size:contain;
}

.nav a{
  // font-size:0.75rem;
  font-size:0.6rem;
  text-transform:uppercase;
  letter-spacing:0.1rem;
  font-weight:700;

}

.logo{
  width: 200px;
  height:200px;
  background-color:$dark-color;
  border-radius:50%;
}



// MEDIA QUERIES
