!!! 5
%html
  %head
    %meta{charset:"utf-8"}
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: "IE=edge,chrome=1", http:{equiv:"X-UA-Compatible"}}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    
    %title The Impermenant Marker
    
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Mono|Source+Sans+Pro:200,300,400,700", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"
  
  %body{class:page_classes}
    %main.container
      %header
        %hr.thick
        %h1.logotype
          / .logo
          %img{src:'images/impermanent-mark.gif', style:'width:200px;height:200px;'}
          %br 
          <span class="strike"> The  </span>
          <span class="strike">  Impermanent  </span>
          <span class="strike">  Marker</span>
        %hr.thin

        %h2.mission
          Short-form, temporary writing on ephemeral and obsolescent things. Exploring impermanence one piece at a time.
      
      .clearfix
        .issue-number.right
          %span.unit N<sup>o</sup>.
          %var 0

      %article
        %header 
        = yield

      %hr.thick


      / TODO:
      / %section.past-authors
    
    =partial 'footer'