%footer.dark-color
  .container
    %ul.list-unstyled.list-inline.nav
      %li
        %a{href:"mailto:delete@impermanentmarker.com"} Contact
      %li
        %a{href:"/archive.html", data:{modal:"#archive-modal"}} Archive
      %li            
        %a{href:"/faq.html"} FAQ
    %p
      Interested in writing for the impermanent marker? 
      %a{href:"mailto:delete@impermanentmarker.com"} Drop us a line