%h2 About
.column
  %p The Impermanent Marker is a (temporary) home for writing about ephemeral and obsolescent things—a place to embrace and celebrate impermanence. It is an archiveless blog, hosting one article at a time. With each new article that is published, the previous article is deleted, never to be read again.

  %p 
    Anyone interested in contributing to the Impermanent Marker is encouraged to contact us by writing to
    %a{href:'mailto:delete@theimpermanentmarker.com'} delete@theimpermanentmarker.com
    \.

  %p 
    The Impermanent Marker was created by 
    %a{href:'http://sethmabbott.com'} Seth Mabbott
    \.    