%h2 Nope. There is no archive.
%p The Impermanent Marker concerns itself with temporary things. It would be contradictory to our nature to attempt to archive the work that has been published here. In fact, we actively discourage any form of archiving, sharing, duplication, or any form of saving.