%h1 
  %small FAQ

%dl
  %dt Why is there no archive?
  %dd

  %dt Is there another way I can get a hold of past articles?
  %dd No. We do not save articles. Not anywhere. Not on paper, not on in a private hard drive, not on a floppy disk… 

  %dt Is that really true?
  %dd Yes. Sort of. There is possibly a computer, laptop, mobile device or server somewhere that has cached or still holds in mempry any given issue. The chance of getting a hold of that data is small. 

  %dt What measures have you taken to ensure that no one archives the Impermanent Marker?
  %dd 

